.card {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
  text-decoration: none;
  border: 3px solid #0564f186;
  border-radius: 10px;
  height: auto;
  width: 50rem;
}
