.card {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  text-decoration: none;
  border: 3px solid #0564f186;
  border-radius: 10px;
  height: 12rem;
  width: 12rem;
  font-weight: 500;
}

.card:hover {
  color: #0563f1;
  cursor: pointer;
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.a {
  font-size: 1.3rem;
  font-weight: 380;
}

.star {
  position: relative;
  top: 10px;
  left: 30%;
}

.title {
  margin-left: 3rem;
  display: inline;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-content: left;
  margin-bottom: 4rem;
  padding-left: 4rem;
  max-width: 900px;
}

.dayContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dayContainer h2 {
  margin-top: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 900px;
}

@media (max-width: 768px) {
  .randContent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
  }
}
